@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="text-center">
    <h3>Deseja realmente apagar o contato (Rodrigo Quaresma) ?</h3>
</div>

<div class="d-grid gap-2">
    <button class="btn btn-primary" role="button">Cancelar exclusão</button>
    <button class="btn btn-danger" role="button">Confirmar exclusão</button>
</div>

